<!doctype html>
<title>OKpanda scheduling</title>
<link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='fullcalendar/dist/fullcalendar.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('bower.static', filename='moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('bower.static', filename='fullcalendar/dist/fullcalendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='oksched.js') }}"></script>
<div class=page>
  <h1>OKpanda scheduling</h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
